.loginsignup{
    width: 100%;
    height: 86vh;
    background: #fce3fe;
    padding-top: 50px;
    margin-bottom: 35px;
}
.loginsignup-container{
    width: 580px;
    height: 685px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.formDataError{
    color: red;
    margin-top: -8px;
    margin-bottom: 10px;
}
.loginsignup-container h1{
    margin: 7px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 30px; 
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-container button{
    width: 600px;
    height: 72px;
    color: white;
    background: rgb(239, 105, 127);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 10px;
    color: rgb(239, 105, 127);
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: rgb(239, 105, 127);
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-login span:hover{
    text-decoration: underline;
}
@media(max-width:1280px){
    .loginsignup{
        height: 81vh;
    }
    .loginsignup-container{
        height: 615px;
    }
    .loginsignup-container h1{
        margin: 5px 0px;
    }
    .loginsignup-fields{
        gap: 5px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 65px;
        width:93%;
    }
    .loginsignup-container button{
        width: 560px;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:800px){
    .loginsignup{
        height: 69vh;
    }
    .loginsignup-container{
        padding: 20px 30px;
        height: 550px;
    }
    .loginsignup-container h1{
        font-size: 24;
    }
    .loginsignup-fields{
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
    }
    .loginsignup-container button{
        height: 50px;
        font-size: 16px;
    }

}
@media(max-width:600px){
    .loginsignup-fields{
        width: 430px;
    }
    .loginsignup-container button{
        width: 430px;
    }
    
}