.welcome{
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, rgb(226, 187, 207) , #e1ffea22 80%);
    padding-top: 0px;
    margin-bottom: 35px;
}
.welcome-container{
    width: 580px;
    height: 500px;
    background:transparent;
    margin: auto;
    padding: 40px 60px;
}
.welcome-user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    width: 1000px;
    height:40px;
    background-color: aliceblue;
}
.welcome-home{
    display: flex;
    align-items: center;
}
.welcome-home h2{
   margin-left: 30px;
}
.welcome-home img{
    width: 100px;
}
.welcome-home p{
    
    text-align: center;
}
.welcome-container h1{
    margin: 7px 0px;
    font-size: 40px;
}
.welcome-fields{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 30px; 
}
.welcome-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.welcome-agree{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.welcome-container button{
    width: 600px;
    height: 72px;
    color: white;
    background: rgb(239, 105, 127);
    margin-top: 5px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.welcome-login{
    margin-top: 5px;
    color: rgb(239, 105, 127);
    font-size: 18px;                    
    font-weight: 500;
}
.welcome-login span{
    color: rgb(239, 105, 127);
    font-weight: 600;
    cursor: pointer;
}
.welcome-login span:hover{
    text-decoration: underline;
}
@media(max-width:1280px){
    .welcome{
        height: 81vh;
    }
    .welcome-container{
        height: 615px;
    }
    .welcome-container h1{
        margin: 5px 0px;
    }
    .welcome-fields{
        gap: 5px;
        margin-top: 20px;
    }
    .welcome-fields input{
        height: 65px;
        width:93%;
    }
    .welcome-container button{
        width: 560px;
    }
    .welcome-login{
        font-size: 16px;
    }
    .welcome-agree{
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:800px){
    .welcome{
        height: 69vh;
    }
    .welcome-container{
        padding: 20px 30px;
        height: 550px;
    }
    .welcome-container h1{
        font-size: 24;
    }
    .welcome-fields{
        margin-top: 20px;
    }
    .welcome-fields input{
        height: 50px;
    }
    .welcome-container button{
        height: 50px;
        font-size: 16px;
    }

}
@media(max-width:600px){
    .welcome-fields{
        width: 430px;
    }
    .welcome-container button{
        width: 430px;
    }
    
}